google-adk>=1.12.0
google-generativeai>=0.8.5
fastapi>=0.95.0
uvicorn>=0.22.0
python-dotenv>=1.0.0
firebase-admin
google-cloud-secret-manager>=2.24.0
itsdangerous
google-auth-oauthlib
pytz
pydantic[email]
google-cloud-firestore>=2.11.0
requests>=2.31.0
nbformat>=5.7.0
nbconvert>=7.5.0
nbclient>=0.7.4